{% extends 'projects/layout.html' %}

{% block content %}

<div class="mx-16">
    <div class="flex justify-between items-center mt-8 mb-4">
        <p class="text-xl font-bold text-center">Your Projects</p>
        <button id="addProjectButton" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Add Project
        </button>
    </div>
    <div id="popupForm" class="hidden fixed inset-0 bg-gray-900 bg-opacity-50 flex justify-center items-center">
        <div class="bg-white p-6 rounded shadow-md w-6/12 max-w-lg"> <!-- Tambahkan kelas max-w-lg di sini -->
            <h2 class="text-lg font-semibold mb-4">Tambah Proyek Baru</h2>
            <form action="{{ url_for('projects.add') }}" method="POST" id="mainForm">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                <div class="mb-4">
                    <label for="projectName" class="block text-gray-700 font-bold mb-2">Privasi</label>

                    <label class="inline-flex items-center me-5 cursor-pointer" id="toggleLabel">
                        <input type="checkbox" value="private" class="sr-only peer" id="toggleCheckbox" name="privacy">
                        <div class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-red-300 dark:peer-focus:ring-red-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-red-600"></div>
                        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300" id="toggleText">Public</span>
                    </label>

                </div>

                <div class="mb-4">
                    <label for="projectName" class="block text-gray-700 font-bold mb-2">Nama</label>
                    <input type="text" id="projectName" name="projectName" class="border rounded px-3 py-2 w-full" required>
                </div>
                <div class="mb-4">
                    <label for="projectURL" class="block text-gray-700 font-bold mb-2">URL</label>
                    <input type="text" id="projectURL" name="projectURL" class="border rounded px-3 py-2 w-full" required>
                </div>

                <div class="mb-4" id="formContainer">
                    <label for="personal_token" class="block text-gray-700 font-bold mb-2">Personal Access Token</label>
                    <input type="text" id="personal_token" name="personal_token" class="border rounded px-3 py-2 w-full" required>
                </div>

                <div class="mb-4">
                    <label for="description" class="block text-gray-700 font-bold mb-2">Deskripsi (opsional)</label>
                    <textarea id="description" name="description" class="border rounded px-3 py-2 w-full"></textarea>
                </div>

                <!-- Add more form fields as needed -->
                <div class="flex justify-end">
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        Tambahkan
                    </button>
                    <button id="closeButton" type="button" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 ml-2 rounded">
                        Tutup
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script>
        const formContainer = document.getElementById('formContainer');
        const toggleCheckbox = document.getElementById('toggleCheckbox');
        const toggleText = document.getElementById('toggleText');
        const personal_tokenInput = document.getElementById('personal_token');
        const mainForm = document.getElementById('mainForm');

        function toggleFormRequirement() {
            if (toggleCheckbox.checked) {
                formContainer.style.display = 'block';
                personal_tokenInput.setAttribute('required', 'required');
                toggleText.textContent = 'Private';
            } else {
                formContainer.style.display = 'none';
                personal_tokenInput.removeAttribute('required');
                personal_tokenInput.value = ''; // Clear the value if switching to public
                toggleText.textContent = 'Public';
            }
        }

        // Initialize form requirement on page load
        toggleFormRequirement();

        // Add event listener for the checkbox toggle
        toggleCheckbox.addEventListener('change', toggleFormRequirement);

        // Add form submission handler
        mainForm.addEventListener('submit', function(event) {
            if (toggleCheckbox.checked && !personal_tokenInput.value) {
                event.preventDefault();
                alert('The Personal Access Token field is required for private projects.');
            }
        });

        document.getElementById('addProjectButton').addEventListener('click', () => {
            document.getElementById('popupForm').classList.remove('hidden');
        });

        document.getElementById('closeButton').addEventListener('click', () => {
            document.getElementById('popupForm').classList.add('hidden');
        });

    </script>


 
  <script>
    const addProjectButton = document.getElementById('addProjectButton');
    const popupForm = document.getElementById('popupForm');
    const closeButton = document.getElementById('closeButton');
  
    addProjectButton.addEventListener('click', () => {
      popupForm.classList.remove('hidden');
    });
  
    closeButton.addEventListener('click', () => {
      popupForm.classList.add('hidden');
    });
  </script>



<div class="flex-1 max-w-full divide-y divide-gray-200 border border-gray-300">
    <form method="get" class="flex items-center" >
        <input type="text" name="search" id="searchInput" placeholder="Search..." class="w-full px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase focus:outline-none">
    </form>

    {% if proj_list %}
    {% for item in proj_list %}

    <div class="flex flex-col justify-between py-4 px-4">
        <div class="flex flex-wrap justify-between pb-6 pr-4">
            <!-- Konten -->
            <a href="{{item.project_id}}" class="text-xl font-bold text-center">{{item.project_name}}</a>
            <!-- Ikon Gear -->
            <a href="{{item.project_id}}/settings">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-600" viewBox="0 0 24 24">
                    <path d="M24 13.616v-3.232c-1.651-.587-2.694-.752-3.219-2.019v-.001c-.527-1.271.1-2.134.847-3.707l-2.285-2.285c-1.561.742-2.433 1.375-3.707.847h-.001c-1.269-.526-1.435-1.576-2.019-3.219h-3.232c-.582 1.635-.749 2.692-2.019 3.219h-.001c-1.271.528-2.132-.098-3.707-.847l-2.285 2.285c.745 1.568 1.375 2.434.847 3.707-.527 1.271-1.584 1.438-3.219 2.02v3.232c1.632.58 2.692.749 3.219 2.019.53 1.282-.114 2.166-.847 3.707l2.285 2.286c1.562-.743 2.434-1.375 3.707-.847h.001c1.27.526 1.436 1.579 2.019 3.219h3.232c.582-1.636.75-2.69 2.027-3.222h.001c1.262-.524 2.12.101 3.698.851l2.285-2.286c-.744-1.563-1.375-2.433-.848-3.706.527-1.271 1.588-1.44 3.221-2.021zm-12 2.384c-2.209 0-4-1.791-4-4s1.791-4 4-4 4 1.791 4 4-1.791 4-4 4z"/>
                </svg>
            </a>        
        </div>  
        <div class="flex flex-wrap justify-between items-center">
            <div class="border border-yellow-400 bg-yellow-400 rounded flex justify-center items-center w-12">
                <p class="text-xs text-white">private.</p>
            </div>
            <div class="text-xs text-gray-600">analyzed:today 12:11:2024 15:30</div>   
        </div>
    </div>
    {% endfor %}
{% else %}
    <p class="flex px-4 py-4">No items to display.</p>
{% endif %}


    
</div>

   
    <div class="py-4x">
        <nav class="block">
            <ul class="flex pl-0 list-none flex-wrap justify-end gap-2">
                {% if pagination.has_prev %}
                    <li>
                        <a href="?page=1" class="text-xs font-semibold flex justify-center items-center leading-tight rounded-full bg-white border border-gray-300 text-gray-800 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent px-4 py-2">First</a>
                    </li>
                    <li>
                        <a href="?page={{ pagination.prev_num }}" class="text-xs font-semibold flex justify-center items-center leading-tight rounded-full bg-white border border-gray-300 text-gray-800 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent px-4 py-2">Previous</a>
                    </li>
                {% endif %}
                {% for page in pagination.iter_pages() %}
                    {% if page %}
                        {% if page != pagination.page %}
                        <li>
                            <a href="?page={{ page }}" class="text-xs font-semibold flex justify-center items-center leading-tight bg-white border border-gray-300 text-gray-800 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent px-4 py-2">{{ page }}</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="#" class="text-xs font-semibold flex justify-center items-center leading-tight bg-blue-500 text-white border border-gray-300 hover:bg-blue-600 px-4 py-2">{{ page }}</a>
                        </li>
                        {% endif %}
                    {% else %}
                        <li>
                            <span class="text-xs font-semibold flex justify-center items-center leading-tight bg-white border border-gray-300 text-gray-800 px-4 py-2">...</span>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if pagination.has_next %}
                    <li>
                        <a href="?page={{ pagination.next_num }}" class="text-xs font-semibold flex justify-center items-center leading-tight rounded-full bg-white border border-gray-300 text-gray-800 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent px-4 py-2">Next</a>
                    </li>
                    <li>
                        <a href="?page={{ pagination.pages }}" class="text-xs font-semibold flex justify-center items-center leading-tight rounded-full bg-white border border-gray-300 text-gray-800 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent px-4 py-2">Last</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>



{% endblock %}  