{% extends 'project_detail/layout.html' %}

{% block content %}
<div class="mb-2"> 
    type : {{content.type}} - {{content.status}}
</div>
<div class="flex mr-32 mb-6 "> 
    <div class="overscroll-auto overflow-y-scroll w-full"> 
        <div class="overflow-auto max-h-96 bg-gray-200 p-4 rounded">
            {% block logx %}
                {% for item in logx %}
                    <div>{{ item }}</div>
                {% endfor %}
            {% endblock %}
        </div>
    </div> 
</div> 

{% endblock %}
