{% set add_collaborators %}

<div class="flex items-center justify-center">
  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    width="54" height="54" viewBox="0 0 849.971 849.971" xml:space="preserve" class="fill-current text-black">
    <g>
      <g>
        <path d="M808.483,638.435c1.8,0.4,3.5,0.6,5.3,0.6c13.4,0,24.9-10.898,24.9-25V164.135c0-10.9-7-20.5-17.4-23.8
          c-22.399-7.2-64.899-19-117.399-25.5v128.9c0,12.2-13.801,19.3-23.7,12.2l-33.7-24c-5.2-3.7-12.2-3.7-17.4,0l-33.699,24
          c-9.9,7.1-23.7,0-23.7-12.2v-130.3c-58.7,6.1-106.3,19.4-130.2,27.1v501.101c40.8-10.701,110.8-17.801,190.3-17.801
          C703.083,623.835,766.783,629.435,808.483,638.435z"/>
        <path d="M36.183,638.935c1.7,0,3.5-0.199,5.3-0.6c41.8-8.9,105.4-14.6,176.7-14.6c79.5,0,149.5,7.1,190.3,17.799v-501
          c-31.6-10.1-104.9-30.2-190.3-30.2c-84.7,0-157.5,19.8-189.5,30c-10.4,3.3-17.4,12.9-17.4,23.8v449.8
          C11.283,628.034,22.783,638.935,36.183,638.935z"/>
        <path d="M2.383,711.335c2.7,13.5,15.8,22.4,29.4,19.699l4.9-1c43.1-8.5,106.6-13.398,174.1-13.398c100.5,0,174.9,10.6,204,21.199
          c3.3,1.199,6.8,1.801,10.2,1.801c3.401,0,6.901-0.602,10.201-1.801c29.1-10.5,103.5-21.199,204-21.199
          c67.5,0,131,4.898,174.1,13.398l4.9,1c13.5,2.701,26.7-6.1,29.399-19.699l1.9-9.801c2.7-13.5-6.1-26.699-19.7-29.398l-4.899-1
          c-0.2,0-0.301-0.102-0.5-0.102c-46.801-9.199-114.2-14.5-185.2-14.5c-89,0-169.3,8.102-214.201,21.4
          c-44.9-13.299-125.2-21.4-214.2-21.4c-71,0-138.5,5.301-185.2,14.5c-0.2,0-0.3,0.102-0.5,0.102l-4.9,1
          c-13.5,2.699-22.4,15.799-19.7,29.398L2.383,711.335z"/>
      </g>
    </g>
  </svg>
</div>

  <form action="{{ url_for('project.add_collaborator', idproject=project.project_id) }}" method="POST" class="rounded-lg shadow-lg">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="mb-4">
      <label for="search" class="block text-sm font-medium text-gray-700">Search by username, full name, or email</label>
      <input id="search" type="text" name="collaborator_user" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm" placeholder="Find People">
    </div>
    <button type="submit" class="w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">Select a collaborator above</button>

  </form>
{% endset %}



<section class="flex-1 max-w-full divide-y divide-gray-200 border border-gray-300" id="content-collaborators" hidden>
  <header class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase">
    Manage access
  </header>

    {% if collaborator %}
    <div class="flex items-center">
      <form class="w-full p-4 flex items-center">   
        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
        <div class="relative w-full">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Search Mockups, Logos..." required />
            <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
        </div>
      </form>
      {% with popup_title="Add a collaborator to "~ project.project_name, popup_id='collaborators', popup_content=add_collaborators %}
      <button onclick="openPopup('{{ popup_id }}')" class="p-2 mr-4 bg-blue-500 text-white rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">
        Add
      </button>

      {% include "widgets/popup.html" %}
      {% endwith %}
      
    </div>
    

<hr>
<ul class="space-y-4">
  {% for collaboratorx in collaborator %}
  <li class="flex items-center justify-between bg-white p-4 rounded-lg shadow-sm border-b">
    <!-- Foto Profile -->
    <div class="flex items-center">
      <img src="{{ collaboratorx.collaborator.image_profile if collaboratorx.collaborator.image_profile else 'https://flowbite.com/docs/images/people/profile-picture-5.jpg' }}" class="w-10 h-10 rounded-full">
      <span class="ml-4 font-medium text-gray-800">{{collaboratorx.collaborator.first_name +" "+collaboratorx.collaborator.last_name }}</span>
    </div>

    {% if collaboratorx.status != "confirmed" %}
    <div class="flex items-center space-x-2">
      <span id="inviteText">Pending Invite </span>
      <!-- Tombol Copy -->
      <button id="copyButton" class="text-blue-500 hover:text-blue-700" onclick="copyToClipboard(`{{ url_for('project.manage_invitation', idproject=project.project_id) }}`)"> 
        <!-- Ikon Copy -->
      <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-copy">
    <path d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 0 1 0 1.5h-1.5a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-1.5a.75.75 0 0 1 1.5 0v1.5A1.75 1.75 0 0 1 9.25 16h-7.5A1.75 1.75 0 0 1 0 14.25Z"></path><path d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0 1 14.25 11h-7.5A1.75 1.75 0 0 1 5 9.25Zm1.75-.25a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-7.5a.25.25 0 0 0-.25-.25Z"></path></svg>
      </button>
    </div>
    {% endif %}

  <!-- Tombol 3 Dot -->
<div class="relative">
  <button class="p-2 rounded-full text-gray-500 hover:bg-gray-100" onclick="toggleDropdown('dropdown-{{ collaboratorx.id }}')">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z" />
    </svg>
  </button>



  <!-- Dropdown Menu -->
  <div id="dropdown-{{ collaboratorx.id }}" class="hidden absolute right-0 mt-2 w-40 bg-white border rounded-lg shadow-lg z-10">
    <ul class="py-2">
      {% if collaboratorx.status == "confirmed" %}

{% set add_branch %}
<form action="{{ url_for('project.add_branch_collaborator', idproject=project.project_id) }}" method="POST" class="rounded-lg shadow-lg">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  
  <label for="branch" class="block text-sm font-medium text-gray-700">Select a Branch</label>
  <input type="hidden" name="collaborator_id" value="{{ collaboratorx.id }}">

  <select name="branch" id="branch" class="w-full mt-2 px-4 py-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-500 focus:outline-none">
    {% for branches in branch %}
      <option value="{{branches.id}}">{{branches.remote}}</option>
    {% endfor %}
  </select>

  <button type="submit" class="w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 mt-4">
      Select Branch
  </button>
</form>
{% endset %}
      {% with popup_title="add Branch to " ~ collaboratorx.collaborator.username,popup_id='add_branch', popup_content=add_branch %}
        <li><a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100" onclick="openPopup('{{ popup_id }}')">Add Branch</a></li>
        {% include "widgets/popup.html" %}
      {% endwith %}
        {% endif %}
      <li><a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Delete</a></li>
    </ul>
  </div>
</div>

  </li>
  {% endfor %}
</ul>



    {% else %}
    {% with popup_title="Add a collaborator to "~ project.project_name, popup_id='collaborators', popup_content=add_collaborators %}
    <div class="bg-white divide-y divide-gray-200">
 
    <div class="px-6 py-4 whitespace-nowrap flex flex-col items-center max-w-lg mx-auto">
        <img class="w-14 h-14 object-cover rounded-lg" src="https://github.githubassets.com/assets/permissions-4a54b38b5f93.png" alt="Collaborators icon">
        <p class="mt-2 text-gray-600">You haven't invited any collaborators yet</p>
        <button onclick="openPopup('{{ popup_id }}')" class="mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
          Add Collaborator
        </button>
      </div>
      {% include "widgets/popup.html" %}
    {% endwith %}
    {% endif %}

  </div>
</section>


<script>
// Fungsi untuk menyalin teks ke clipboard
  function copyToClipboard(text) {
    // Menyalin teks ke clipboard
    navigator.clipboard.writeText('{{ request.url_root.rstrip("/") }}'+text).then(function() {
      alert('Teks telah disalin ke clipboard!');
    }).catch(function(err) {
      alert('Gagal menyalin teks: ', err);
    });
  }
</script>


<script>
  function openPopup(id) {
    document.getElementById(id).classList.remove('hidden');
  }
  
  function closePopup(id) {
    document.getElementById(id).classList.add('hidden');
  }
</script>

<script>
  function toggleDropdown(id) {
    const dropdown = document.getElementById(id);
    
    // Toggle the visibility of the dropdown
    if (dropdown.classList.contains('hidden')) {
      dropdown.classList.remove('hidden');
    } else {
      dropdown.classList.add('hidden');
    }
    
    // Close other dropdowns if needed (optional)
    const allDropdowns = document.querySelectorAll('.dropdown-menu');
    allDropdowns.forEach(function(otherDropdown) {
      if (otherDropdown !== dropdown) {
        otherDropdown.classList.add('hidden');
      }
    });
  }
  
  </script>
  