{% extends 'project_detail/layout.html' %}

{% block content %}

<div class="flex space-x-6">
    <div class="flex flex-col border h-full w-1/5 bg-white">
        <!-- Table Header -->
        <div class="flex flex-row border-b border-gray-300 ">
            <div class="px-4 py-2">Project Settings</div>
        </div>
        
        <!-- Table Rows -->
        <a href="?option=basics" class="pl-2 py-3 text-left text-xs font-medium text-gray-500 uppercase">
            basic
        </a>
        <hr class="border-gray-300 my-0"> <!-- Divider -->
        <a href="?option=advanced" class="pl-2 py-3 text-left text-xs font-medium text-gray-500 uppercase">
            Advanced
        </a>
        <hr class="border-gray-300 my-0"> <!-- Divider -->
        <a href="?option=collaborators" class="pl-2 py-3 text-left text-xs font-medium text-gray-500 uppercase">
            Collaborators
        </a>
    </div>
     
    
    {% include 'project_detail/settings/basics.html' %}
        
    {% include 'project_detail/settings/advanced.html' %}
   
    {% include 'project_detail/settings/collaborators.html' %}

 
</div>

<script>
    function showInputField(selectedValue) {
        const inputField = document.getElementById('ModelsInput');
        const inputElements = inputField.getElementsByTagName('INPUT');

        if (selectedValue === 'others') {
            inputField.classList.remove('hidden');
            // Set the required attribute for all input elements
            for (let inputElement of inputElements) {
                inputElement.setAttribute('required', 'required');
            }
        } else {
            inputField.classList.add('hidden');
            // Remove the required attribute from all input elements
            for (let inputElement of inputElements) {
                inputElement.removeAttribute('required');
            }
        }
    }
</script>

 
  <script>
    const addProjectButton = document.getElementById('addProjectButton');
    const popupForm = document.getElementById('popupForm');
    const closeButton = document.getElementById('closeButton');
  
    addProjectButton.addEventListener('click', () => {
      popupForm.classList.remove('hidden');
    });
  
    closeButton.addEventListener('click', () => {
      popupForm.classList.add('hidden');
    });
  </script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const urlParams = new URLSearchParams(window.location.search);
        let option = urlParams.get('option');
        const validOptions = ['basics', 'advanced','collaborators']; // Daftar opsi yang valid
    
        if (!validOptions.includes(option)) {
            option = 'basics'; // Gunakan basics jika option tidak valid
        }
    
        const current_option = option;
    
        const contentDiv = document.getElementById(`content-${current_option}`);
        const linkElem = document.querySelector(`a[href="?option=${current_option}"]`);
    
        if (contentDiv) {
            contentDiv.removeAttribute('hidden');
        }
    
        if (linkElem) {
            linkElem.classList.add('border-orange-500', 'border-l-4', 'bg-gray-100');
        }
    });
</script>

{% endblock %}
