<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>

<!-- Roboto font -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">

<!-- Tailwind CSS config -->
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

</head>
<body>
<header class="relative">
    {% include 'nav.html' %}
</header>
test ubah body
</body>
</html>
