<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title> 
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/13.0.1/markdown-it.min.js" integrity="sha512-SYfDUYPg5xspsG6OOpXU366G8SZsdHOhqk/icdrYJ2E/WKZxPxze7d2HD3AyXpT7U22PZ5y74xRpqZ6A2bJ+kQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    
</head>
<header class="relative">
    {% include 'nav.html' %}
</header>
<body>
    <div class="mx-32">
               <div class="pt-8 pb-2">
                <a href="{{ url_for('project.analysis', idproject=project.project_id) }}" class="text-3xl font-bold text-gray-800">
                    <h1>{{ project.project_name }}</h1>
                </a>
                <div class="flex justify-between"> 
                    {% if project.fetch_status == "success" and project.analyze_status == "success" %}
                        check for new 
                    {% else %}
                    asdasd
                    {% endif %}
               
                {% if stats %}
                <div>
                    <span class="badge critical critical-bg">C</span>
                    <span class="critical">{{stats['C']}}</span>
                    <span class="badge high high-bg">H</span>
                    <span class="high">{{stats['H']}}</span>
                    <span class="badge medium medium-bg">M</span>
                    <span class="medium">{{stats['M']}}</span>
                    <span class="badge low low-bg">L</span>
                    <span class="low">{{stats['L']}}</span>
                    <span class="badge warning warning-bg">W</span>
                    <span class="warning">{{stats['W']}}</span>
                </div>
                {%endif%}
            </div>

               </div>
     
        <ul class="flex" id="menu">
            <li class="menu-item mr-4">
                <a href="{{ url_for('project.analysis', idproject=project.project_id) }}" class="menu-link {% if url_for('project.analysis', idproject=project.project_id) in request.path %}text-blue-700{% else %}text-grey-700{% endif %} hover:text-blue-700 block py-2 px-2 relative z-10 {% if url_for('project.analysis', idproject=project.project_id) in request.path %}border-b-2 border-blue-700{% else %}border-b-2 border-transparent{% endif %} hover:border-blue-700" data-content="analysis">
                    Analysis
                </a>
            </li>
        
            <li class="menu-item mr-4">
                <a href="{{ url_for('project.log', idproject=project.project_id) }}" class="menu-link {% if url_for('project.log', idproject=project.project_id) in request.path %}text-blue-700{% else %}text-grey-700{% endif %} hover:text-blue-700 block py-2 px-2 relative z-10 {% if url_for('project.log', idproject=project.project_id) in request.path %}border-b-2 border-blue-700{% else %}border-b-2 border-transparent{% endif %} hover:border-blue-700" data-content="analysis">
                    Log
                </a>
            </li>
            <li class="menu-item mr-4">
                <a href="{{ url_for('project.settings', idproject=project.project_id) }}" class="menu-link {% if url_for('project.settings', idproject=project.project_id) in request.path %}text-blue-700{% else %}text-grey-700{% endif %} hover:text-blue-700 block py-2 px-2 relative z-10 {% if url_for('project.settings', idproject=project.project_id) in request.path %}border-b-2 border-blue-700{% else %}border-b-2 border-transparent{% endif %} hover:border-blue-700" data-content="analysis">
                    Settings
                </a>
            </li>
        </ul>
        
        
        <hr class="border-t border-gray-200 mt-4">
        <div class="my-4">
            {% block content %}
            {% endblock %}
        </div>

    </div>
</body>
</html>
