<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title> 
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        darkMode: "class",
        theme: {
          fontFamily: {
            sans: ["Roboto", "sans-serif"],
            body: ["Roboto", "sans-serif"],
            mono: ["ui-monospace", "monospace"],
          },
        },
        corePlugins: {
          preflight: false,
        },
      };
    </script>
    <style> 
    .dropdown:hover .dropdown-menu {
        display: block;
    }
    </style>
</head>
<header class="relative">
    {% include 'nav.html' %}
</header>
<body>
    <div class="mx-32 ">
        
        <ul class="flex mt-10" id="menu">
            <li class="menu-item mr-4">
                <a href="{{ url_for('project.analysis') }}" class="menu-link {% if url_for('project.analysis') in request.path %}text-blue-700{% else %}text-grey-700{% endif %} hover:text-blue-700 block py-2 px-2 relative z-10 {% if url_for('project.analysis') in request.path %}border-b-2 border-blue-700{% else %}border-b-2 border-transparent{% endif %} hover:border-blue-700" data-content="analysis">
                    Analysis
                </a>
            </li>

            <li class="menu-item mr-4">
                <a href="{{ url_for('project.log') }}" class="menu-link {% if url_for('project.log') in request.path %}text-blue-700{% else %}text-grey-700{% endif %} hover:text-blue-700 block py-2 px-2 relative z-10 {% if url_for('project.log') in request.path %}border-b-2 border-blue-700{% else %}border-b-2 border-transparent{% endif %} hover:border-blue-700" data-content="analysis">
                    Log
                </a>
            </li>
            <li class="menu-item mr-4">
                <a href="{{ url_for('project.contact') }}" class="menu-link {% if url_for('project.contact') in request.path %}text-blue-700{% else %}text-grey-700{% endif %} hover:text-blue-700 block py-2 px-2 relative z-10 {% if url_for('project.contact') in request.path %}border-b-2 border-blue-700{% else %}border-b-2 border-transparent{% endif %} hover:border-blue-700" data-content="analysis">
                    Settings
                </a>
            </li>

        </ul>
        
        <hr class="border-t border-gray-200 mt-4">
        <!-- item 1  -->
        <!-- <div id="analysis" class="content mt-5">
            
         
        </div> -->
        <!-- item 2 -->
        <!-- <div id="log" class="content mt-5 hidden"> -->
            <!-- Content for Users -->
            <!-- <a>Content for Users</a> -->
        <!-- </div> -->
        <!-- item 3 -->
        <!-- <div id="settings" class="content mt-5 hidden"> -->
            <!-- Content for Profile -->
            <!-- <a>Content for Profile</a> -->
        <!-- </div> -->
<div class="my-4">
    {% block content %}
    {% endblock %}
</div>

    </div>

</body>
</html>
