{% extends 'project/layout.html' %}

{% block content %}

<div class="flex space-x-6">
    <div class="flex flex-col border h-full w-1/5">
        <!-- Table Header -->
        <div class="flex flex-row border-b border-gray-300 bg-gray-100">
            <div class="px-4 py-2">Project Settings</div>
        </div>
        
        <!-- Table Rows -->
        <a href="?option=basics" class="pl-2 py-3 text-left text-xs font-medium text-gray-500 uppercase">
            basics
        </a>
        <hr class="border-gray-300 my-0"> <!-- Divider -->
        <a href="?option=badge" class="pl-2 py-3 text-left text-xs font-medium text-gray-500 uppercase">
            badge
        </a>
    </div>

    <div class="flex-1 max-w-full divide-y divide-gray-200 border border-gray-300" id="content-basics" hidden>
        <div class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase">basics</div>
        <div class="bg-white divide-y divide-gray-200">
            <div class="px-6 py-4 whitespace-nowrap">
            
                    <form action="{{ url_for('projects.update') }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            
                        <div class="mb-4">
                            <label for="projectName" class="block text-gray-700 font-bold mb-2">Privasi</label>
            
                            <label class="inline-flex items-center me-5 cursor-pointer" id="toggleLabel">
                                <input type="checkbox" value="private" class="sr-only peer" checked id="toggleCheckbox">
                                <div class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-red-300 dark:peer-focus:ring-red-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-red-600"></div>
                                <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300" id="toggleText">private</span>
                            </label>
                        </div>
            
                        <div class="mb-4">
                            <label for="projectName" class="block text-gray-700 font-bold mb-2">Nama</label>
                            <input type="text" id="projectName" name="projectName" class="border rounded px-3 py-2 w-full">
                        </div>
                    
                        <div class="mb-4">
                            <label for="description" class="block text-gray-700 font-bold mb-2">Deskripsi (opsional)</label>
                            <textarea id="description" name="description" class="border rounded px-3 py-2 w-full"></textarea>
                        </div>
            
                        <!-- Add more form fields as needed -->
                        <div class="flex ">
                            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                update
                            </button>
                        
                        </div>
                    </form>
            </div>
        </div>
    </div>

    <div class="flex-1 max-w-full divide-y divide-gray-200 border border-gray-300" id="content-badge" hidden>
        <div class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase">badge</div>
        <div class="bg-white divide-y divide-gray-200">
            <div class="px-6 py-4 whitespace-nowrap">
                content badge
            </div>
        </div>
    </div>
</div>

<script>
    const toggleCheckbox = document.getElementById('toggleCheckbox');
    const toggleLabel = document.getElementById('toggleLabel');
    const toggleText = document.getElementById('toggleText');
    
    toggleCheckbox.addEventListener('change', function() {
        if (toggleCheckbox.checked) {
            toggleText.textContent = 'Private';
        } else {
            toggleText.textContent = 'Public';
        }
    });
    </script>
 
  <script>
    const addProjectButton = document.getElementById('addProjectButton');
    const popupForm = document.getElementById('popupForm');
    const closeButton = document.getElementById('closeButton');
  
    addProjectButton.addEventListener('click', () => {
      popupForm.classList.remove('hidden');
    });
  
    closeButton.addEventListener('click', () => {
      popupForm.classList.add('hidden');
    });
  </script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const urlParams = new URLSearchParams(window.location.search);
        let option = urlParams.get('option');
        const validOptions = ['basics', 'badge']; // Daftar opsi yang valid
    
        if (!validOptions.includes(option)) {
            option = 'basics'; // Gunakan basics jika option tidak valid
        }
    
        const current_option = option;
    
        const contentDiv = document.getElementById(`content-${current_option}`);
        const linkElem = document.querySelector(`a[href="?option=${current_option}"]`);
    
        if (contentDiv) {
            contentDiv.removeAttribute('hidden');
        }
    
        if (linkElem) {
            linkElem.classList.add('border-orange-500', 'border-l-4', 'bg-gray-100');
        }
    });
</script>

{% endblock %}
